{% extends "base_layout.html" %}

{% block content %}
    <div class="form-container flex-column">
        <div class="content-section">
            <form action="{{ url_for('register') }}" method="post">
                {{ form.hidden_tag() }}
                <div>
                    <legend><i class="fas fa-user-plus"></i> Join Today</legend>
                    <div class="form-group">
                        {{ form.username.label(class='') }}
                        {% if form.username.errors %}
                            {{ form.username(class='') }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class='') }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.email.label(class='') }}
                        {% if form.email.errors %}
                            {{ form.email(class='') }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                         {{ form.email(class='') }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class='') }}
                        {% if form.password.errors %}
                            {{ form.password(class='') }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class='') }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.confirm_password.label(class='') }}
                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class='') }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.confirm_password(class='') }}
                        {% endif %}
                    </div>
                </div>
                <div class="submit-group">
                    {{ form.submit(class='register-btn') }}
                    <button class="go-back-btn">Go Back</button>
                </div>
            </form>
        </div>
        <div class="account">
            <small>
                Already Have An Account? <a href="{{ url_for('login') }}">Sign In</a>
            </small>
        </div>
    </div>

{% endblock %}